@use 'colors' as *;
@use 'screen-sizes' as *;
@use 'blur' as *;

@keyframes backdropFadeIn {
    from {
        opacity: 0;
        background-color: unset;
        backdrop-filter: unset;
        -webkit-backdrop-filter: unset;
    }
    to {
        opacity: 1;
        backdrop-filter: $blur-2;
        -webkit-backdrop-filter: $blur-2;
    }
}

@keyframes backdropFadeOut {
    from {
        opacity: 1;
        backdrop-filter: $blur-2;
        -webkit-backdrop-filter: $blur-2;
    }
    to {
        opacity: 0;
        background-color: unset;
        backdrop-filter: unset;
        -webkit-backdrop-filter: unset;
    }
}

@keyframes modalEnterDesk {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.2);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes modalExitDesk {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.2);
    }
}
