$blur-0-5: blur(0.5px);
$blur-1: blur(1px);
$blur-1-5: blur(1.5px);
$blur-2: blur(2px);
$blur-2-5: blur(2.5px);
$blur-3: blur(3px);
$blur-3-5: blur(3.5px);
$blur-4: blur(4px);
$blur-4-5: blur(4.5px);
$blur-5: blur(5px);
$blur-6: blur(6px);
$blur-7: blur(7px);
$blur-8: blur(8px);
$blur-9: blur(9px);
$blur-10: blur(10px);
